html {
  margin: 0;
  background-color: rgb(236, 176, 108);
}

body {
  margin: auto;
  width: 330px;
}

#frame {
  margin-top: 10vh;
  background-color: hsl(0, 0%, 45%);
  border-radius: 25px;
  width: 330px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset -3px -3px 9px hsl(0, 0%, 38%),
              3px 3px hsl(0, 0%, 38%),
              6px 6px hsl(0, 0%, 38%),
              10px 10px 20px rgba(0, 0, 0, 0.6);
}

#screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: monospace;
  font-size: 42px;
  border-radius: 15px;
  background-color: hsl(80, 40%, 80%);
  color: rgba(0, 0, 0, 0.6);
  height: 75px;
  width: 293px;
  margin: 0 5px 5px 5px;
  box-shadow: inset 3px 3px hsl(0, 0%, 38%),
              inset 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#buttons {
  margin: 15px 0 0 -1.5px;
  display: grid;
  grid-template: repeat(5, 60px) / repeat(4, 75px);
}

button {
  position: relative;
  border: none;
  border-radius: 15px;
  margin: 5px;
  padding: 0;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: filter 0.2s;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: 1;
  transition: transform 50ms;
}

.basic .front {
  background-color: hsl(0, 0%, 80%);
  box-shadow: inset -2px -2px 8px hsl(0, 0%, 58%);
}

.operator .front {
  background-color: hsl(200, 50%, 80%);
  box-shadow: inset -2px -2px 8px hsl(200, 20%, 58%);
}

#clear .front {
  background-color: hsl(5, 50%, 80%);
  box-shadow: inset -2px -2px 8px hsl(5, 20%, 58%);
}

#delete .front {
  background-color: hsl(60, 50%, 80%);
  box-shadow: inset -2px -2px 8px hsl(60, 20%, 58%);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3),
              inset -1px -1px 3px rgba(0, 0, 0, 0.9);
}

.basic .edge {
  background-color: hsl(0, 0%, 58%);
}

.operator .edge {
  background-color: hsl(200, 20%, 58%);
}

#clear .edge {
  background-color: hsl(5, 20%, 58%);
}

#delete .edge {
  background-color: hsl(60, 20%, 58%);
}

#screen p {
  margin: 0px 5px 0px 0px;
}

#buttons p {
  line-height: 50px;
  color: transparent;
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.basic p {
  background-color: hsl(0, 0%, 30%);
}

.operator p {
  background-color: hsl(200, 50%, 30%);
}

#clear p {
  background-color: hsl(5, 50%, 30%);
}

#delete p {
  background-color: hsl(60, 50%, 30%);
  transform: translateY(1px);
}

button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

button:focus:not(:focus-visible) {
  outline: none;
}

.front:active {
  transform: translate(2px, 2px);
}